body{
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  background-color: #F0F0F0 ;
  padding:0;
  margin:0;
}


/* NAVBAR START */
nav{
  background-color:#3849AA;
  position:fixed;
  top:0;
  width:100%;
  font-size: 20px;
  z-index:100;
}
  
nav a{
  color:#F0F0F0;
  float: left;
  padding: 30px;
  text-decoration:none;
}
  
nav a.right{
  float:right;
}
  
nav a:hover {
  background-color:#303f94;
}
  
@media screen and (max-width: 720px) {
  nav a:not(:first-child,:last-child){
    display: none;
  }
}
  

/* FORM START */
#form{
  position: absolute;
  top: 25%;
  left:20%;
}


/* IMAGE START */
#img-container{
  position: absolute;
  right:0;
  width:40%;
  height:100%;
  overflow: hidden;
}

img{
  width:100%;
  height:100%;
}


/* FORM START */
input[type=text], textarea{
  margin: 8px 0;
  padding: 8px 10px;
  width: 500px;
  border: 1px solid #ccc;
  border-radius: 4px;
	font-family:'Segoe UI';
  font-size: 16px;
  resize: none;
}

label{
  font-size: 18px;
}

#button{
  background-color:#3849AA;
  color:#F0F0F0;
  font-size: large;
	font-family:'Segoe UI';
	border:0;
	padding:8px 16px;
  float:right;
  margin-top: 15px;
}


#button:hover {
	cursor:pointer;
  background-color:#303f94;
}

@media screen and (max-width: 1400px) {
  #content{
    display: flex;
    justify-content: center;
 }
  #form{
   left:auto;
  }
    
  .image{
    display: none;
  }

  input[type=text], textarea{
    width: 90vw;
    max-width: 500px;
  }
}