body{
  font-family: BlinkMacSystemFont, 'Segoe UI', 'Ubuntu', 'Helvetica Neue', sans-serif;
  background-color: #F0F0F0 ;
  padding:0;
  margin:0;
}

/* NAVBAR START */
nav{
  background-color:#3849AA;
  position:fixed;
  top:0;
  width:100%;
  font-size: 20px;
  z-index:100;
}
  
nav a{
  color:#F0F0F0;
  float: left;
  padding: 30px;
  text-decoration:none;
}
  
nav a.right{
  float:right;
}
  
nav a:hover {
  background-color:#303f94;
}
  
@media screen and (max-width: 720px) {
  nav a:not(:first-child,:last-child){
    display: none;
  }
}
  
/* NAVBAR END */


/* FORM START */

#form{
  position: absolute;
  top: 30%;
  left:20%;
}
/* FORM END */

/* IMAGE START */
#img-container{
  position: absolute;
  right:0;
  width:40%;
  height:100%;
  overflow: hidden;
}

img{
  width:100%;
  height:100%;
}
/* IMAGE START */


@media screen and (max-width: 800px) {
  #form{
    left:30%;
 }
    
  .image{
      display: none;
  }
}

/* FORM START */
input[type=text], textarea{
  padding: 6px;
  width:300px;
  border: 1px solid #ccc;
  border-radius: 4px;
	font-family:'Segoe UI';
  resize: none;
}

#button{
  background-color:#3849AA;
  color:#F0F0F0;
	font-weight:bold;
	font-family:'Segoe UI';
	border:0;
	padding:6px 12px;
  float:right;
  margin-top: 5px;
}


#button:hover {
	cursor:pointer;
  background-color:#303f94;
}

/* FORM END */